PORT=3333
WEB_ORIGIN=http://localhost:3000
JWT_SECRET=troque-esta-chave-por-uma-chave-grande
JWT_EXPIRES_IN=7d
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=atlas_das_cinzas
DB_USER=atlas
DB_PASSWORD=atlas
DB_SYNCHRONIZE=true
REDIS_URL=redis://localhost:6379

SRD_API_BASE_URL=https://www.dnd5eapi.co
SRD_SYNC_ON_START=true
